@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500;600;700&display=swap');

:root {
    --background-light: rgb(243, 243, 243);
    --background-dark: rgb(39, 39, 39);
    --background-dark-variant: rgb(31, 31, 31);
    --background-white: rgb(255, 255, 255);
    --background-black: rgb(0, 0, 0);
    --background-color: rgba(39, 39, 39, 0.1);

    --text-white: rgb(255, 255, 255);
    --text-white-variant: rgb(243, 243, 243);
    --text-black: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--background-white);
    height: 80px;
}

nav {
    padding: 15px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
}

nav button {
    padding: 10px 20px;
}

/* Top Section */

section.top button,
section.projects button {
    padding: 10px 65px
}

nav button,
section.top button,
section.projects button {
    border: none;
    background-color: var(--background-black);
    color: var(--text-white);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 500ms ease;
}

nav button:hover {
    background-color: var(--background-light);
    color: var(--text-black);
    font-size: 26px;
}

section.top button:hover,
section.projects button:hover {
    background-color: var(--background-white);
    color: var(--text-black);
    font-size: 26px;
}

.top {
    font-family: 'Bebas Neue', sans-serif;
    padding: 10% 0 0 10%;
    height: 800px;
    background-color: var(--background-light);
}

.top h1 {
    font-size: 70px;
}

.top h2 {
    font-size: 40px;
    font-weight: lighter;
}

.buttons {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.wrapper {
    position: absolute;
    top: 45%;
}

/* Resume */

.resume {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--background-dark);
    font-family: 'Bebas Neue', sans-serif;
}

.resume h1 {
    font-weight: lighter;
    color: var(--text-white);
}

.resume h1 strong {
    font-weight: bold;
    color: var(--text-white);
}

.resume button {
    border: none;
    background-color: var(--background-white);
    color: var(--text-black);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px 100px;
    transition: all 500ms ease;
}

.resume button:hover{
    background-color: var(--background-black);
    color: var(--text-white);
}

/* Project Section */

.projects {
    height: 800px;
    background-color: var(--background-light);
    font-family: 'Barlow Condensed', sans-serif;
}

.projects-header {
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects-header h1{
    font-size: 50px;
    color: var(--text-black);
}

article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: auto;
    margin: 20px 100px;
}

article h1,
article h2,
article p {
    color: var(--text-white);
}


article > div {
    height: 300px;
}

article > div:nth-of-type(1) {
    grid-column: 1 / 3;
}

article > div:nth-of-type(4) {
    grid-column: 4 / 2;
}

.project-1 {
    background: url('project1.jpg');
    background-size: cover;
}

.project-2 {
    background: url('project2.jpg');
    background-size: cover;
}

.project-3 {
    background: url('project3.jpg');
    background-size: cover;
}

.project-4 {
    background: url('project4.jpeg');
    background-size: cover;
}

.project-details {
    margin: 120px 20px;
}

.project-details h1 {
    font-size: 27px;
    text-transform: uppercase;
}

.project-details p {
    font-weight: 600;
    font-size: 18px;
}

article div > h2 {
    margin: 30px 20px;
    font-size: 20px;
}

article > div:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* Languages */ 
.languages {
    height: 100px;
    background-color: var(--background-dark);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

.languages h1 {
    font-weight: lighter;
    color: var(--text-white);
}

.languages ul {
    color: var(--text-white);
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* About */
.about {
    height: 800px;
    background-color: var(--background-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
}

.about h1 {
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--text-black);
    font-weight: 500;
    font-size: 40px;
    text-transform: uppercase;
}



/* Contact Section */

.contact {
    height: 800px;
    background-color: var(--background-dark);
    font-family: 'Bebas Neue', sans-serif;
    padding: 10%;
}

.contact h1 {
    font-size: 50px;
    font-weight: lighter;
    color: var(--text-white);
}

.contact p {
    color: var(--text-white);
    font-size: 30px;
}

.form-area {
    display: flex;
    border-radius: 5px;
    padding: 1em 0;
}

.form-area label {
    color: var(--text-white);
    font-size: 18px;
    font-weight: lighter;
}

.msg-area {
    display: flex;
    flex-direction: column;
}

.msg-area > textarea {
    background: var(--background-dark-variant);
    color: var(--text-white);
    padding: 15px;
    border: none;
}

.details-area input {
    width: 100%;
    background: var(--background-dark-variant);
    color: var(--text-white);
    border-radius: 5px;
    border: none;
    padding: 25px;
}

.details-area input,
.details-area button {
    margin-bottom: 1em;
}

.details-area button {
    font-family: 'Bebas Neue', sans-serif;
    background: var(--background-black);
    font-size: 20px;
    color: white;
    border: 0;
    padding: 15px 50px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 500ms ease;
}

.details-area button:hover {
    background: var(--background-white);
    color: var(--text-black);
}

/* Media Queries */
@media screen and (max-width: 560px) {
   article {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
   }

   .projects {
    height: fit-content;
   }

   .projects-header {
    padding: 20px 5px;
   }

   section.projects button {
    padding: 10px 15px;
   }
   
   .resume button {
    padding: 10px 15px;
   }

   section.top button {
      padding: 10px 20px;
   }

   nav {
    padding: 15px 50px;
    justify-content: space-evenly;
   }

}

@media screen and (max-width: 1000px) {
    article {
        display: flex;
        flex-direction: column;
    }

    .projects {
        height: auto;
    }

    .resume h1 {
        margin-left: 20px;
    }

@media screen and (max-width: 1200px) {
    .project-details {
        margin: 30px 20px;
    }

    .resume button {
        padding: 15px 25px;
        margin-right: 20px;
    }
}