* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Rubik", sans-serif;
	list-style: none;
	text-decoration: none;
}

:root {
	--main-color: #eb5e28;
	--secondary-color: #252422;
	--tertiary-color: #403d39;
	--quaternary-color: #ccc5b9;
	--quninary-color: #fffcf2;
}

body {
	overflow-x: hidden;
}

header {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 32px 15%;
	background-color: var(--secondary-color);
	transition: all ease 0.45s;
}

/* header styles */
.logo {
	color: #fff;
	font-size: 41px;
	font-weight: 600;
}

.logo span {
	color: var(--main-color);
}

.navbar {
	display: flex;
}

.navbar a {
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	margin: 0 25px;
	transition: all ease 0.5s;
}

.navbar a:hover {
	color: var(--main-color);
}

.navbar a.active {
	color: var(--main-color);
}

#menu-icon {
	color: #fff;
	font-size: 35px;
	z-index: 6;
	transition: all ease 0.5s;
}

#menu-icon:hover {
	color: var(--main-color);
	cursor: pointer;
}
